{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/rack-configurations": {
      "post": {
        "summary": "Save Rack Configuration",
        "description": "Saves a rack configuration and returns a unique 9-character hash",
        "operationId": "createRackConfiguration",
        "tags": [
          "/v1/rack-configurations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "configuration"
                ],
                "properties": {
                  "configuration": {
                    "type": "object",
                    "required": [
                      "rackHeight",
                      "rackCount",
                      "placedParts"
                    ],
                    "properties": {
                      "rackHeight": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 42
                      },
                      "rackCount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "placedParts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "rackId": {
                              "type": "integer"
                            },
                            "startSlot": {
                              "type": "integer"
                            },
                            "customName": {
                              "type": "string",
                              "nullable": true
                            },
                            "customColor": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string",
                      "pattern": "^[0-9A-Z]{8}$"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackConfigurationsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack configurations endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackConfigurationsOptions",
        "tags": [
          "/v1/rack-configurations"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/rack-configurations/{config_hash}": {
      "get": {
        "summary": "Load Rack Configuration",
        "description": "Loads a rack configuration by its unique hash",
        "operationId": "getRackConfiguration",
        "tags": [
          "/v1/rack-configurations"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Z]{8}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration loaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash",
                    "configuration"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string"
                    },
                    "configuration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackConfigurationsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack configuration endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackConfigurationOptions",
        "tags": [
          "/v1/rack-configurations"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{session_id}/events": {
      "post": {
        "summary": "Save Session Analytics Events",
        "description": "Saves analytics events for a session",
        "operationId": "createSessionEvents",
        "tags": [
          "/v1/sessions"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_id",
                  "events"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "timestamp"
                      ],
                      "properties": {
                        "event_type": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "session_context": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "events_saved"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "events_saved": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${SessionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for session events endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "sessionEventsOptions",
        "tags": [
          "/v1/sessions"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "summary": "Catch-all for undefined routes",
        "description": "Returns 404 for any undefined API endpoint",
        "operationId": "catchAll",
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message",
                    "path"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The requested endpoint does not exist"
                    },
                    "path": {
                      "type": "string",
                      "example": "/invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CatchAllHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    },
    "schemas": {}
  },
  "tags": [
    {
      "name": "/v1/rack-configurations",
      "description": "Rack configuration endpoints"
    },
    {
      "name": "/v1/sessions",
      "description": "Session analytics endpoints"
    }
  ],
  "x-tagGroups": [
    {
      "name": "/v1/",
      "tags": [
        "/v1/rack-configurations",
        "/v1/sessions"
      ]
    }
  ],
  "x-amazon-apigateway-request-validators": {
    "validate-headers": {
      "validateRequestParameters": true,
      "validateRequestBody": false
    }
  },
  "x-amazon-apigateway-gateway-responses": {
    "BAD_REQUEST_PARAMETERS": {
      "statusCode": 400,
      "responseTemplates": {
        "application/json": "{\"message\": \"Missing required header: x-github-event\"}"
      }
    }
  }
}
