{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns the health status of the API",
        "operationId": "healthCheck",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "version"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "10U Labs API"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HealthHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for health endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "healthOptions",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              }
            }
          }
        }
      }
    },
    "/v1/echo": {
      "post": {
        "summary": "Echo Endpoint",
        "description": "Echoes back the request body",
        "operationId": "echo",
        "tags": [
          "/v1/echo"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Any JSON object to echo back"
              },
              "examples": {
                "simple": {
                  "summary": "Simple echo example",
                  "value": {
                    "message": "Hello World"
                  }
                },
                "complex": {
                  "summary": "Complex object",
                  "value": {
                    "user": "john_doe",
                    "data": {
                      "items": [
                        1,
                        2,
                        3
                      ],
                      "nested": {
                        "field": "value"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully echoed the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "echo",
                    "received_at"
                  ],
                  "properties": {
                    "echo": {
                      "type": "object",
                      "description": "The echoed request body"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "AWS request ID",
                      "example": "1234-5678-90ab-cdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid JSON"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${EchoHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for echo endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "echoOptions",
        "tags": [
          "/v1/echo"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/health/dependencies": {
      "get": {
        "summary": "Infrastructure Dependencies Health Check",
        "description": "Validates that all infrastructure dependencies (security groups, subnets, VPC) exist and are accessible",
        "operationId": "dependenciesHealth",
        "tags": [
          "/health"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "All infrastructure dependencies are valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "checked_resources"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "message": {
                      "type": "string",
                      "example": "All infrastructure dependencies are valid"
                    },
                    "checked_resources": {
                      "type": "object",
                      "properties": {
                        "security_groups": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "subnets": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "vpc": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "One or more infrastructure dependencies are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "message",
                    "errors",
                    "checked_resources"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "unhealthy"
                    },
                    "message": {
                      "type": "string",
                      "example": "Infrastructure dependencies are invalid"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "security_group"
                          },
                          "details": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "checked_resources": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HealthHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for health dependencies endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "healthDependenciesOptions",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/runners": {
      "post": {
        "summary": "GitHub Webhook for Runner Requests",
        "description": "Receives GitHub workflow_job webhook events and queues them for processing (API Gateway → SQS direct integration, no Lambda in hot path)",
        "operationId": "createRunner",
        "tags": [
          "/v1/runners"
        ],
        "x-amazon-apigateway-request-validator": "validate-headers",
        "parameters": [
          {
            "name": "x-github-event",
            "in": "header",
            "required": true,
            "description": "GitHub webhook event type (e.g., workflow_job, workflow_run)",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook accepted and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "accepted"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "SQS message ID for tracking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required x-github-event header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Missing required request parameters: [x-github-event]"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "aws",
          "httpMethod": "POST",
          "uri": "${WebhookIngressSqsUri}",
          "credentials": "${ApiGatewaySqsRoleArn}",
          "requestParameters": {
            "integration.request.header.Content-Type": "'application/x-www-form-urlencoded'"
          },
          "requestTemplates": {
            "application/json": "Action=SendMessage&MessageBody=$util.urlEncode($input.body)&MessageAttribute.1.Name=x-github-event&MessageAttribute.1.Value.DataType=String&MessageAttribute.1.Value.StringValue=$util.urlEncode($input.params().header.get('x-github-event'))&MessageAttribute.2.Name=x-hub-signature-256&MessageAttribute.2.Value.DataType=String&MessageAttribute.2.Value.StringValue=$util.urlEncode($input.params().header.get('x-hub-signature-256'))&MessageAttribute.3.Name=x-github-delivery&MessageAttribute.3.Value.DataType=String&MessageAttribute.3.Value.StringValue=$util.urlEncode($input.params().header.get('x-github-delivery'))"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "{\"message\": \"accepted\", \"messageId\": \"$input.json('$.SendMessageResponse.SendMessageResult.MessageId')\"}"
              }
            }
          }
        }
      },
      "options": {
        "summary": "CORS preflight for runners endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "runnersOptions",
        "tags": [
          "/v1/runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/runners/health": {
      "get": {
        "summary": "Runners Health Check",
        "description": "Returns the health status of the runners service",
        "operationId": "runnersHealth",
        "tags": [
          "/v1/runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for runners health endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "runnersHealthOptions",
        "tags": [
          "/v1/runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/runners/circuit-breaker": {
      "get": {
        "summary": "Get Circuit Breaker Status",
        "description": "Returns the current status of the runners circuit breaker including DynamoDB state, SQS event source state, and Lambda concurrency",
        "operationId": "getCircuitBreakerStatus",
        "tags": [
          "/v1/runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit breaker is healthy (closed state)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "healthy",
                    "state",
                    "sqs_event_source",
                    "reserved_concurrency"
                  ],
                  "properties": {
                    "healthy": {
                      "type": "boolean",
                      "example": true
                    },
                    "state": {
                      "type": "string",
                      "example": "closed"
                    },
                    "sqs_event_source": {
                      "type": "string",
                      "example": "Enabled"
                    },
                    "reserved_concurrency": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "last_failure_time": {
                      "type": "integer",
                      "example": 0
                    },
                    "recovery_attempts": {
                      "type": "integer",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Circuit breaker is unhealthy (open or half-open state)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "healthy",
                    "state"
                  ],
                  "properties": {
                    "healthy": {
                      "type": "boolean",
                      "example": false
                    },
                    "state": {
                      "type": "string",
                      "example": "open"
                    },
                    "sqs_event_source": {
                      "type": "string",
                      "example": "Disabled"
                    },
                    "reserved_concurrency": {
                      "type": "integer",
                      "example": 0
                    },
                    "last_failure_time": {
                      "type": "integer"
                    },
                    "recovery_attempts": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CircuitBreakerResetArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for circuit breaker endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "circuitBreakerOptions",
        "tags": [
          "/v1/runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/runners/circuit-breaker/reset": {
      "post": {
        "summary": "Reset Circuit Breaker",
        "description": "Resets the circuit breaker by closing DynamoDB state, removing reserved concurrency, and re-enabling SQS event source",
        "operationId": "resetCircuitBreaker",
        "tags": [
          "/v1/runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit breaker reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "details"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Circuit breaker reset"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "state_reset": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "concurrency_removed": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "sqs_enabled": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean"
                            },
                            "enabled_count": {
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Partial or complete failure during reset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "details"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Partial failure"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CircuitBreakerResetArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for circuit breaker reset endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "circuitBreakerResetOptions",
        "tags": [
          "/v1/runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "post": {
        "summary": "GitHub Webhook for Agent Events",
        "description": "Receives GitHub webhook events for agent troubleshooting (API Gateway → SQS direct integration, no Lambda in hot path)",
        "operationId": "agentWebhook",
        "tags": [
          "/v1/agents"
        ],
        "x-amazon-apigateway-request-validator": "validate-headers",
        "parameters": [
          {
            "name": "x-github-event",
            "in": "header",
            "required": true,
            "description": "GitHub webhook event type (e.g., workflow_run, check_run)",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook accepted and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "accepted"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "SQS message ID for tracking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required x-github-event header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Missing required request parameters: [x-github-event]"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "aws",
          "httpMethod": "POST",
          "uri": "${AgentWebhookIngressSqsUri}",
          "credentials": "${ApiGatewaySqsRoleArn}",
          "requestParameters": {
            "integration.request.header.Content-Type": "'application/x-www-form-urlencoded'"
          },
          "requestTemplates": {
            "application/json": "Action=SendMessage&MessageBody=$util.urlEncode($input.body)&MessageAttribute.1.Name=x-github-event&MessageAttribute.1.Value.DataType=String&MessageAttribute.1.Value.StringValue=$util.urlEncode($input.params().header.get('x-github-event'))&MessageAttribute.2.Name=x-hub-signature-256&MessageAttribute.2.Value.DataType=String&MessageAttribute.2.Value.StringValue=$util.urlEncode($input.params().header.get('x-hub-signature-256'))&MessageAttribute.3.Name=x-github-delivery&MessageAttribute.3.Value.DataType=String&MessageAttribute.3.Value.StringValue=$util.urlEncode($input.params().header.get('x-github-delivery'))"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "{\"message\": \"accepted\", \"messageId\": \"$input.json('$.SendMessageResponse.SendMessageResult.MessageId')\"}"
              }
            }
          }
        }
      },
      "options": {
        "summary": "CORS preflight for agents endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "agentsOptions",
        "tags": [
          "/v1/agents"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/agents/invoke": {
      "post": {
        "summary": "Direct Agent Invocation",
        "description": "Directly invoke an agent for troubleshooting (API Gateway → SQS direct integration)",
        "operationId": "invokeAgent",
        "tags": [
          "/v1/agents"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repository",
                  "run_id"
                ],
                "properties": {
                  "repository": {
                    "type": "string",
                    "description": "Full repository name (owner/repo)"
                  },
                  "run_id": {
                    "type": "integer",
                    "description": "GitHub workflow run ID to investigate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invocation request accepted and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "accepted"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "SQS message ID for tracking"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "aws",
          "httpMethod": "POST",
          "uri": "${AgentInvokerIngressSqsUri}",
          "credentials": "${ApiGatewaySqsRoleArn}",
          "requestParameters": {
            "integration.request.header.Content-Type": "'application/x-www-form-urlencoded'"
          },
          "requestTemplates": {
            "application/json": "Action=SendMessage&MessageBody=$util.urlEncode($input.body)"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "{\"message\": \"accepted\", \"messageId\": \"$input.json('$.SendMessageResponse.SendMessageResult.MessageId')\"}"
              }
            }
          }
        }
      },
      "options": {
        "summary": "CORS preflight for agents invoke endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "agentsInvokeOptions",
        "tags": [
          "/v1/agents"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/image-for-ec2-runners": {
      "post": {
        "summary": "Build Image for EC2 Runners",
        "description": "Triggers a build of a new EC2 runner AMI",
        "operationId": "buildEC2RunnerAMI",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "AMI build started successfully"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEC2RunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "get": {
        "summary": "List Images for EC2 Runners",
        "description": "Lists all available EC2 runner AMIs",
        "operationId": "listEC2RunnerAMIs",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of AMIs"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEC2RunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for image-for-ec2-runners endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "imageForEc2RunnersOptions",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/image-for-ec2-runners/latest": {
      "get": {
        "summary": "Get Latest Image for EC2 Runners",
        "description": "Returns the latest EC2 runner AMI",
        "operationId": "getLatestEC2RunnerAMI",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Latest AMI information"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEC2RunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for image-for-ec2-runners latest endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "imageForEc2RunnersLatestOptions",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/image-for-ec2-runners/{ami_id}": {
      "delete": {
        "summary": "Delete Image for EC2 Runners",
        "description": "Deletes a specific EC2 runner AMI",
        "operationId": "deleteEC2RunnerAMI",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "ami_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AMI deleted successfully"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEC2RunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for image-for-ec2-runners ami_id endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "imageForEc2RunnersAmiIdOptions",
        "tags": [
          "/v1/image-for-ec2-runners"
        ],
        "parameters": [
          {
            "name": "ami_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/image-for-ecs-runners": {
      "post": {
        "summary": "Build Image for ECS Runners",
        "description": "Triggers a build of a new ECS runner image",
        "operationId": "buildEcsRunnerImage",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "ECS image build started successfully"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEcsRunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "get": {
        "summary": "List Images for ECS Runners",
        "description": "Lists all available ECS runner images",
        "operationId": "listEcsRunnerImages",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of ECS images"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEcsRunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for image-for-ecs-runners endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "imageForEcsRunnersOptions",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/image-for-ecs-runners/latest": {
      "get": {
        "summary": "Get Latest Image for ECS Runners",
        "description": "Returns the latest ECS runner image",
        "operationId": "getLatestEcsRunnerImage",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Latest ECS image information"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEcsRunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for image-for-ecs-runners latest endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "imageForEcsRunnersLatestOptions",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/image-for-ecs-runners/{digest}": {
      "get": {
        "summary": "Get Image for ECS Runners by Digest",
        "description": "Returns a specific ECS runner image by digest",
        "operationId": "getEcsRunnerImageByDigest",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "digest",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ECS image information"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEcsRunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Delete Image for ECS Runners",
        "description": "Deletes a specific ECS runner image by digest",
        "operationId": "deleteEcsRunnerImage",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "digest",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ECS image deleted successfully"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ImageForEcsRunnersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for image-for-ecs-runners digest endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "imageForEcsRunnersDigestOptions",
        "tags": [
          "/v1/image-for-ecs-runners"
        ],
        "parameters": [
          {
            "name": "digest",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/ecs-runner": {
      "post": {
        "summary": "Create ECS Runner",
        "description": "Creates a new ECS runner instance",
        "operationId": "createEcsRunner",
        "tags": [
          "/v1/ecs-runner"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "ECS runner created successfully"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${EcsRunnerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "get": {
        "summary": "Get ECS Runner Status",
        "description": "Returns the status of currently running ECS (Fargate) runner instances",
        "operationId": "getEcsRunnerStatus",
        "tags": [
          "/v1/ecs-runner"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "ECS runner status including running tasks count and task details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "running_tasks",
                    "tasks",
                    "cluster"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "running_tasks": {
                      "type": "integer",
                      "example": 2
                    },
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "task_arn": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "desired_status": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": "string"
                          },
                          "cpu": {
                            "type": "string"
                          },
                          "memory": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "job_labels": {
                            "type": "string"
                          },
                          "github_repo": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cluster": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${EcsRunnerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        },
        "x-amazon-apigateway-api-key-required": true
      },
      "options": {
        "summary": "CORS preflight for ecs-runner endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "ecsRunnerOptions",
        "tags": [
          "/v1/ecs-runner"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/ec2-runner": {
      "post": {
        "summary": "Create EC2 Runner",
        "description": "Creates a new EC2 runner instance",
        "operationId": "createEC2Runner",
        "tags": [
          "/v1/ec2-runner"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "EC2 runner created successfully"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${EC2RunnerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "get": {
        "summary": "Get EC2 Runner Status",
        "description": "Returns the status of currently running EC2 runner instances",
        "operationId": "getEC2RunnerStatus",
        "tags": [
          "/v1/ec2-runner"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "EC2 runner status including running instances count and instance details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "running_instances",
                    "instances"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "running_instances": {
                      "type": "integer",
                      "example": 1
                    },
                    "instances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instance_id": {
                            "type": "string"
                          },
                          "instance_type": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "availability_zone": {
                            "type": "string"
                          },
                          "launch_time": {
                            "type": "string"
                          },
                          "public_ip": {
                            "type": "string"
                          },
                          "job_id": {
                            "type": "string"
                          },
                          "job_labels": {
                            "type": "string"
                          },
                          "github_repo": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${EC2RunnerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        },
        "x-amazon-apigateway-api-key-required": true
      },
      "options": {
        "summary": "CORS preflight for ec2-runner endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "ec2RunnerOptions",
        "tags": [
          "/v1/ec2-runner"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/contact": {
      "post": {
        "summary": "Submit Contact Form",
        "description": "Submits a contact form request with reCAPTCHA verification",
        "operationId": "submitContact",
        "tags": [
          "/v1/contact"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message",
                  "recaptcha_token"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "recaptcha_token": {
                    "type": "string",
                    "description": "Google reCAPTCHA v3 token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or reCAPTCHA verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ContactHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for contact endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "contactOptions",
        "tags": [
          "/v1/contact"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/rack-designer/configurations": {
      "post": {
        "summary": "Save Rack Designer Configuration",
        "description": "Saves a rack designer configuration and returns a unique 8-character hash",
        "operationId": "saveRackConfiguration",
        "tags": [
          "/v1/rack-designer"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "configuration"
                ],
                "properties": {
                  "configuration": {
                    "type": "object",
                    "required": [
                      "rackHeight",
                      "rackCount",
                      "placedParts"
                    ],
                    "properties": {
                      "rackHeight": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 42
                      },
                      "rackCount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "placedParts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "rackId": {
                              "type": "integer"
                            },
                            "startSlot": {
                              "type": "integer"
                            },
                            "customName": {
                              "type": "string",
                              "nullable": true
                            },
                            "customColor": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string",
                      "pattern": "^[0-9A-Z]{8}$"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackDesignerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack designer endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackDesignerConfigurationsOptions",
        "tags": [
          "/v1/rack-designer"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/rack-designer/configurations/{config_hash}": {
      "get": {
        "summary": "Load Rack Designer Configuration",
        "description": "Loads a rack designer configuration by its unique hash",
        "operationId": "loadRackConfiguration",
        "tags": [
          "/v1/rack-designer"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Z]{8}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration loaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash",
                    "configuration"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string"
                    },
                    "configuration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackDesignerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack designer configuration endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackDesignerConfigurationOptions",
        "tags": [
          "/v1/rack-designer"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/simulation-soc": {
      "post": {
        "summary": "Simulate Tri-mode SoC",
        "description": "Simulates a tri-mode SoC running a workload in the specified persona (RISC-V, x86-64, or ARM64)",
        "operationId": "simulateTriModeSoc",
        "tags": [
          "/v1/simulation-soc"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "persona"
                ],
                "properties": {
                  "persona": {
                    "type": "string",
                    "enum": [
                      "riscv",
                      "x86_64",
                      "arm64"
                    ],
                    "description": "The ISA persona to simulate"
                  }
                }
              },
              "examples": {
                "riscv": {
                  "summary": "RISC-V persona",
                  "value": {
                    "persona": "riscv"
                  }
                },
                "x86_64": {
                  "summary": "x86-64 persona",
                  "value": {
                    "persona": "x86_64"
                  }
                },
                "arm64": {
                  "summary": "ARM64 persona",
                  "value": {
                    "persona": "arm64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "persona",
                    "soc_config",
                    "instruction_count",
                    "native_core",
                    "tri_mode_core",
                    "relative_slowdown"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "persona": {
                      "type": "string"
                    },
                    "soc_config": {
                      "type": "object",
                      "properties": {
                        "issue_width": {
                          "type": "integer"
                        },
                        "rob_entries": {
                          "type": "integer"
                        },
                        "l1_size_kb": {
                          "type": "integer"
                        },
                        "l2_size_kb": {
                          "type": "integer"
                        },
                        "clock_ghz": {
                          "type": "number"
                        }
                      }
                    },
                    "instruction_count": {
                      "type": "integer"
                    },
                    "native_core": {
                      "type": "object",
                      "properties": {
                        "ipc": {
                          "type": "number"
                        },
                        "runtime_seconds": {
                          "type": "number"
                        }
                      }
                    },
                    "tri_mode_core": {
                      "type": "object",
                      "properties": {
                        "ipc": {
                          "type": "number"
                        },
                        "runtime_seconds": {
                          "type": "number"
                        }
                      }
                    },
                    "relative_slowdown": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid persona or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${SimulationSocHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for simulation soc endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "simulationSocOptions",
        "tags": [
          "/v1/simulation-soc"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,Authorization'"
              }
            }
          }
        }
      }
    },
    "/v1/rack-designer/events": {
      "post": {
        "summary": "Save Rack Designer Analytics Events",
        "description": "Saves analytics events for rack designer usage tracking",
        "operationId": "saveRackAnalyticsEvents",
        "tags": [
          "/v1/rack-designer"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id",
                  "device_id",
                  "events"
                ],
                "properties": {
                  "session_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "timestamp"
                      ],
                      "properties": {
                        "event_type": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "session_context": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "events_saved"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "events_saved": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackDesignerHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack designer events endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackDesignerEventsOptions",
        "tags": [
          "/v1/rack-designer"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "summary": "Catch-all for undefined routes",
        "description": "Returns 404 for any undefined API endpoint",
        "operationId": "catchAll",
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message",
                    "path"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The requested endpoint does not exist"
                    },
                    "path": {
                      "type": "string",
                      "example": "/invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CatchAllHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    },
    "schemas": {}
  },
  "tags": [
    {
      "name": "/health",
      "description": "Health check endpoints"
    },
    {
      "name": "/v1/agents",
      "description": "Agent troubleshooting endpoints"
    },
    {
      "name": "/v1/contact",
      "description": "Contact form endpoints"
    },
    {
      "name": "/v1/ec2-runner",
      "description": "EC2 runner management endpoints"
    },
    {
      "name": "/v1/echo",
      "description": "Echo utility endpoint"
    },
    {
      "name": "/v1/ecs-runner",
      "description": "ECS runner management endpoints"
    },
    {
      "name": "/v1/image-for-ec2-runners",
      "description": "EC2 runner AMI management endpoints"
    },
    {
      "name": "/v1/image-for-ecs-runners",
      "description": "ECS runner image management endpoints"
    },
    {
      "name": "/v1/rack-designer",
      "description": "Rack designer configuration endpoints"
    },
    {
      "name": "/v1/runners",
      "description": "GitHub runner webhook endpoints"
    },
    {
      "name": "/v1/simulation-soc",
      "description": "SoC simulation endpoints"
    }
  ],
  "x-tagGroups": [
    {
      "name": "/",
      "tags": [
        "/health"
      ]
    },
    {
      "name": "/v1/",
      "tags": [
        "/v1/agents",
        "/v1/contact",
        "/v1/ec2-runner",
        "/v1/echo",
        "/v1/ecs-runner",
        "/v1/image-for-ec2-runners",
        "/v1/image-for-ecs-runners",
        "/v1/rack-designer",
        "/v1/runners",
        "/v1/simulation-soc"
      ]
    }
  ],
  "x-amazon-apigateway-request-validators": {
    "validate-headers": {
      "validateRequestParameters": true,
      "validateRequestBody": false
    }
  },
  "x-amazon-apigateway-gateway-responses": {
    "BAD_REQUEST_PARAMETERS": {
      "statusCode": 400,
      "responseTemplates": {
        "application/json": "{\"message\": \"Missing required header: x-github-event\"}"
      }
    }
  }
}