{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/diagnostics/echo": {
      "post": {
        "summary": "Echo Endpoint",
        "description": "Echoes back the request body",
        "operationId": "diagnosticsEcho",
        "tags": [
          "/diagnostics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Any JSON object to echo back"
              },
              "examples": {
                "simple": {
                  "summary": "Simple echo example",
                  "value": {
                    "message": "Hello World"
                  }
                },
                "complex": {
                  "summary": "Complex object",
                  "value": {
                    "user": "john_doe",
                    "data": {
                      "items": [
                        1,
                        2,
                        3
                      ],
                      "nested": {
                        "field": "value"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully echoed the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "echo",
                    "received_at"
                  ],
                  "properties": {
                    "echo": {
                      "type": "object",
                      "description": "The echoed request body"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "AWS request ID",
                      "example": "1234-5678-90ab-cdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid JSON"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${EchoHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for diagnostics echo endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "diagnosticsEchoOptions",
        "tags": [
          "/diagnostics"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns the health status of the API",
        "operationId": "healthCheck",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "version"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "10U Labs API"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HealthHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for health endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "healthOptions",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              }
            }
          }
        }
      }
    },
    "/v1/contact-submissions": {
      "post": {
        "summary": "Submit Contact Form",
        "description": "Submits a contact form request with reCAPTCHA verification",
        "operationId": "submitContactSubmission",
        "tags": [
          "/v1/contact-submissions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message",
                  "recaptcha_token"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "recaptcha_token": {
                    "type": "string",
                    "description": "Google reCAPTCHA v3 token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or reCAPTCHA verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ContactHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for contact submissions endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "contactSubmissionsOptions",
        "tags": [
          "/v1/contact-submissions"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/github-workflows/retries": {
      "get": {
        "summary": "List GitHub Workflow Retries",
        "description": "Returns the 10 most recent GitHub workflow retry events",
        "operationId": "listGithubWorkflowRetries",
        "tags": [
          "/v1/github-workflows"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent workflow retry events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "items"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "workflow_name": {
                            "type": "string"
                          },
                          "run_id": {
                            "type": "integer"
                          },
                          "attempt": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${GithubWorkflowsRetriesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/v1/github-workflows/retries/{limit}": {
      "get": {
        "summary": "List GitHub Workflow Retries (Custom Limit)",
        "description": "Returns the N most recent GitHub workflow retry events",
        "operationId": "listGithubWorkflowRetriesWithLimit",
        "tags": [
          "/v1/github-workflows"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent workflow retry events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "items"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "workflow_name": {
                            "type": "string"
                          },
                          "run_id": {
                            "type": "integer"
                          },
                          "attempt": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of records to return"
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "${GithubWorkflowsRetriesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/v1/github-workflows/webhooks": {
      "post": {
        "summary": "GitHub Workflow Job Webhook",
        "description": "Receives GitHub workflow_job webhook events for processing",
        "operationId": "receiveWorkflowJob",
        "tags": [
          "/v1/github-workflows"
        ],
        "x-amazon-apigateway-request-validator": "validate-headers",
        "parameters": [
          {
            "name": "x-github-event",
            "in": "header",
            "required": true,
            "description": "GitHub webhook event type (e.g., workflow_job, workflow_run)",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          },
          "400": {
            "description": "Missing required x-github-event header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Missing required request parameters: [x-github-event]"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WebhookRouterHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for github workflows webhook",
        "description": "Handles CORS preflight requests",
        "operationId": "githubWorkflowsWebhooksOptions",
        "tags": [
          "/v1/github-workflows"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/github-workflows/webhooks/circuit-opens": {
      "get": {
        "summary": "Get Circuit Opens Status",
        "description": "Returns the current status of the github workflows webhook circuit opens including DynamoDB state, SQS event source state, and Lambda concurrency",
        "operationId": "getGithubWorkflowsCircuitOpensStatus",
        "tags": [
          "/v1/github-workflows"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit opens is healthy (closed state)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "healthy",
                    "state",
                    "sqs_event_source",
                    "reserved_concurrency"
                  ],
                  "properties": {
                    "healthy": {
                      "type": "boolean",
                      "example": true
                    },
                    "state": {
                      "type": "string",
                      "example": "closed"
                    },
                    "sqs_event_source": {
                      "type": "string",
                      "example": "Enabled"
                    },
                    "reserved_concurrency": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "last_failure_time": {
                      "type": "integer",
                      "example": 0
                    },
                    "recovery_attempts": {
                      "type": "integer",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Circuit opens is unhealthy (open or half-open state)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "healthy",
                    "state"
                  ],
                  "properties": {
                    "healthy": {
                      "type": "boolean",
                      "example": false
                    },
                    "state": {
                      "type": "string",
                      "example": "open"
                    },
                    "sqs_event_source": {
                      "type": "string",
                      "example": "Disabled"
                    },
                    "reserved_concurrency": {
                      "type": "integer",
                      "example": 0
                    },
                    "last_failure_time": {
                      "type": "integer"
                    },
                    "recovery_attempts": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CircuitOpensHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Reset Circuit Opens",
        "description": "Resets the circuit opens by closing DynamoDB state, removing reserved concurrency, and re-enabling SQS event source",
        "operationId": "resetGithubWorkflowsCircuitOpens",
        "tags": [
          "/v1/github-workflows"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit opens reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "details"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Circuit opens reset"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "state_reset": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "concurrency_removed": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        },
                        "sqs_enabled": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean"
                            },
                            "enabled_count": {
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Partial or complete failure during reset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message",
                    "details"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Partial failure"
                    },
                    "details": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CircuitOpensHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for circuit opens endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "githubWorkflowsCircuitOpensOptions",
        "tags": [
          "/v1/github-workflows"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/github-workflows/webhooks/circuit-opens/reset": {
      "post": {
        "summary": "Reset Circuit Opens (Deprecated)",
        "description": "DEPRECATED: Use POST /v1/github-workflows/webhooks/circuit-opens instead. Resets the circuit opens by closing DynamoDB state, removing reserved concurrency, and re-enabling SQS event source",
        "operationId": "resetGithubWorkflowsCircuitOpensLegacy",
        "deprecated": true,
        "tags": [
          "/v1/github-workflows"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit opens reset successfully"
          },
          "500": {
            "description": "Partial or complete failure during reset"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CircuitOpensHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for circuit opens reset endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "githubWorkflowsCircuitOpensResetOptions",
        "tags": [
          "/v1/github-workflows"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Api-Key'"
              }
            }
          }
        }
      }
    },
    "/v1/rack-configurations": {
      "post": {
        "summary": "Save Rack Configuration",
        "description": "Saves a rack configuration and returns a unique 9-character hash",
        "operationId": "createRackConfiguration",
        "tags": [
          "/v1/rack-configurations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "configuration"
                ],
                "properties": {
                  "configuration": {
                    "type": "object",
                    "required": [
                      "rackHeight",
                      "rackCount",
                      "placedParts"
                    ],
                    "properties": {
                      "rackHeight": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 42
                      },
                      "rackCount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "placedParts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "rackId": {
                              "type": "integer"
                            },
                            "startSlot": {
                              "type": "integer"
                            },
                            "customName": {
                              "type": "string",
                              "nullable": true
                            },
                            "customColor": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string",
                      "pattern": "^[0-9A-Z]{8}$"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackConfigurationsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack configurations endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackConfigurationsOptions",
        "tags": [
          "/v1/rack-configurations"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/rack-configurations/{config_hash}": {
      "get": {
        "summary": "Load Rack Configuration",
        "description": "Loads a rack configuration by its unique hash",
        "operationId": "getRackConfiguration",
        "tags": [
          "/v1/rack-configurations"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Z]{8}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration loaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash",
                    "configuration"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string"
                    },
                    "configuration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackConfigurationsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack configuration endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "rackConfigurationOptions",
        "tags": [
          "/v1/rack-configurations"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{session_id}/events": {
      "post": {
        "summary": "Save Session Analytics Events",
        "description": "Saves analytics events for a session",
        "operationId": "createSessionEvents",
        "tags": [
          "/v1/sessions"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_id",
                  "events"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "timestamp"
                      ],
                      "properties": {
                        "event_type": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "session_context": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "events_saved"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "events_saved": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${SessionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for session events endpoint",
        "description": "Handles CORS preflight requests",
        "operationId": "sessionEventsOptions",
        "tags": [
          "/v1/sessions"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "summary": "Catch-all for undefined routes",
        "description": "Returns 404 for any undefined API endpoint",
        "operationId": "catchAll",
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message",
                    "path"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The requested endpoint does not exist"
                    },
                    "path": {
                      "type": "string",
                      "example": "/invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CatchAllHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    },
    "schemas": {}
  },
  "tags": [
    {
      "name": "/diagnostics",
      "description": "Diagnostics utility endpoints"
    },
    {
      "name": "/health",
      "description": "Health check endpoints"
    },
    {
      "name": "/v1/contact-submissions",
      "description": "Contact form submission endpoints"
    },
    {
      "name": "/v1/github-workflows",
      "description": "GitHub workflows endpoints"
    },
    {
      "name": "/v1/rack-configurations",
      "description": "Rack configuration endpoints"
    },
    {
      "name": "/v1/sessions",
      "description": "Session analytics endpoints"
    }
  ],
  "x-tagGroups": [
    {
      "name": "/",
      "tags": [
        "/health",
        "/diagnostics"
      ]
    },
    {
      "name": "/v1/",
      "tags": [
        "/v1/contact-submissions",
        "/v1/github-workflows",
        "/v1/rack-configurations",
        "/v1/sessions"
      ]
    }
  ],
  "x-amazon-apigateway-request-validators": {
    "validate-headers": {
      "validateRequestParameters": true,
      "validateRequestBody": false
    }
  },
  "x-amazon-apigateway-gateway-responses": {
    "BAD_REQUEST_PARAMETERS": {
      "statusCode": 400,
      "responseTemplates": {
        "application/json": "{\"message\": \"Missing required header: x-github-event\"}"
      }
    }
  }
}